@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 200px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.content {
  padding: 80px 20px 20px 20px;
}